body > div > form input,
body > div > form span {
  color: var(--passive-dark);
  text-transform: capitalize;
}

body > div > form input::placeholder,
body > div > form label {
  color: var(--enable-input);
}

body > div > form {
  box-sizing: border-box;
  display: grid;
  background-color: var(--card-dark);
  align-items: center;
}

form > #cover_book {
  background-size: cover;
  background-position: center;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  display: grid;

  box-shadow: 1px 1px 10px var(--background-dark);
}

form > #cover_book.stretch {
  cursor: pointer;
}

form > #cover_book:hover.editable {
  cursor: pointer;
}

form > #cover_book:hover.stretch::after,
form > #cover_book:hover.editable::after {
  content: 'set cover';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  color: var(--active-dark);
  background-color: var(--dialog-dark);
}

#date_book {
  color: var(--passive-dark);
}

#date_book.hide {
  display: none;
}

form > #info_book {
  display: grid;
  height: fit-content;
  margin: 0;
}

form > #info_book > input:first-of-type {
  height: fit-content;
  font-weight: 700;
}

form > #info_book > input:nth-of-type(2) {
  height: fit-content;
  font-family: var(--font-secondary);
}

form > #info_book > input:last-of-type {
  text-transform: capitalize;
  height: fit-content;
  font-family: var(--font-secondary);
}

form > #status_book {
  display: grid;
  margin: 0;
}

form > #status_book > span {
  width: fit-content;
  height: fit-content;
  font-weight: 600;
}

form > #status_book > label {
  width: fit-content;
  cursor: pointer;
  position: relative;
}


form > #status_book > label::after {
  content: ':';
  position: absolute;
  right: 0;
  transform: translateX(8px)
}

form > #status_book > input {
  width: 50px;
  transform: translateY(3px);
}

#progress {
  position: relative;
  overflow: hidden;
  transform: rotate(180deg);
  background-color: var(--background-progress);
}

#progress.hide {
  display: none;
}

#progress > span {
  display: block;
  background-color: var(--fill);
}

#progress::after {
  content: attr(data-progress);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
  color: var(--active-dark);
  font-weight: 600;
}

#hashtag,
#hashtag::placeholder {
  text-transform: lowercase;
}

form > #action_book {
  display: grid;
  margin: 0;
}

form > #action_book > button {
  display: grid;
  transition: var(--transition-200ms);
}

form > #action_book > button:hover,
form > #action_book > button.clicked {
  transform: scale(0.98);
}

form > #action_book > button > span {
  color: var(--active-dark);
  text-transform: capitalize;
}

form > #action_book > button:first-of-type {
  background-color: var(--fill);
}

form > #action_book > button:last-of-type {
  background-color: var(--cancel);
}

@media screen and (orientation: landscape) {
  body > div > form {
    padding: 3em;
    width: 80vw;
    height: 60vh;
    max-width: 900px;
    max-height: 450px;
    border-radius: calc(1em + 0.2vmax);
    column-gap: 2vw;
    row-gap: 1.5vh;
    grid-template-columns: 60% 1fr;
    grid-template-rows: repeat(2, max-content) minmax(2em, max-content) 10em;
  }

  form > #cover_book {
    grid-area: 1/2/4/2;
    width: 100%;
    align-self: start;
    height: 100%;
    border-radius: calc(1px + 1vw);
  }

  form > #cover_book.stretch {
    grid-area: 1/2/4/2;
  }

  form > #cover_book:hover.stretch::after,
  form > #cover_book:hover.editable::after {
    border-radius: calc(1px + 1vw);
    font-size: 2em;
    background-color: var(--dialog-dark);
  }

  #date_book {
    grid-area: 4/2/4/2;
    line-height: 1.2;
    align-self: start;
    font-size: calc(1em + 5%);
  }

  form > #info_book {
    grid-area: 1/1/1/1;
    grid-template-rows: repeat(3, max-content);
  }

  form > #info_book > input:first-of-type {
    grid-area: 1/1/1/1;
    font-size: calc(1em + 2vw);
    width: 100%;
  }

  form > #info_book > input:nth-of-type(2) {
    grid-area: 2/1/2/1;
    font-size: calc(1em + 1vw);
    width: 100%;
  }

  form > #info_book > input:last-of-type {
    font-size: calc(1em + 0.2vw);
  }

  form > #status_book {
    grid-area: 2/1/2/1;
    column-gap: 10px;
    grid-template-columns: minmax(100px, 120px) max-content 1fr;
    grid-template-rows: repeat(3, max-content);
  }

  form > #status_book > span {
    grid-area: 1/1/1/-2;
    align-self: end;
    font-size: calc(1em + 1vw);
  }

  form > #status_book > label {
    width: 100%;
    position: relative;
    font-size: calc(1em + 0.2vw);
  }


  form > #status_book > input {
    width: 50px;
    align-self: start;
    font-size: calc(1em + 0.1vw);
  }

  form > #status_book > label:first-of-type {
    grid-area: 2/1/2/1;
  }

  form > #status_book > input:first-of-type {
    grid-area: 2/2/2/2;
  }

  form > #status_book > label:last-of-type {
    grid-area: 3/1/3/1;
  }

  form > #status_book > input:last-of-type {
    grid-area: 3/2/3/2;
  }

  #progress {
    grid-area: 1/3/4/3;
    width: 9vmax;
    height: 9vmax;
    min-height: 60px;
    min-width: 60px;
    max-width: 110px;
    max-height: 110px;
    border-radius: 100%;
    align-self: center;
    justify-self: center;
  }

  #progress > span {
    height: 10%;
    width: 100%;
  }

  #progress::after {
    font-size: calc(1em + 0.6vmax);
  }

  #hashtag {
    grid-area: 3/1/3/1;
    font-size: calc(1em + 0.3vmax);
  }

  form > #action_book {
    grid-area: 4/1/4/1;
    align-self: center;
    column-gap: 2vmax;
    grid-template-columns: repeat(2, minmax(180px, 20%));
  }

  form > #action_book > button {
    padding: 1em;
    width: 100%;
    align-items: center;
    grid-template-columns: 2em 1fr;
    border-radius: calc(1px + 0.2vmax);
  }

  form > #action_book > button > span {
    font-size: calc(1em + 0.2vmax);
  }

  form > #action_book > button > img {
    justify-self: end;
    height: calc(1em + 0.2vmax);
  }
}
