body > div > form input,
body > div > form span {
  color: var(--passive-dark);
  text-transform: capitalize;
}

body > div > form input::placeholder,
body > div > form label {
  color: var(--enable-input);
}

body > div > form {
  padding: 3em;
  width: 80vw;
  height: 80vh;
  max-height: 500px;
  box-sizing: border-box;
  max-width: var(--breakpoint-xxl);
  display: grid;
  border-radius: calc(1em - 0.2vmax);
  background-color: var(--card-dark);
  column-gap: 1em;
  align-items: center;
  grid-template-columns: 1fr minmax(35%, 300px);
  grid-template-rows: max-content max-content max-content 1fr;
}

form > #cover_book {
  grid-area: 1/2/3/2;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  align-self: stretch;

  border-radius: calc(1em + 0.2vw);
  box-sizing: border-box;
  position: relative;
  display: grid;

  box-shadow: 1px 1px 10px var(--background-dark);
}

form > #cover_book.stretch {
  height: 80%;
  grid-area: 1/2/5/2;
  cursor: pointer;
}

form > #cover_book:hover.stretch::after {
  content: 'set cover';
  position: absolute;
  top: 0;
  right: 0;

  border-radius: calc(1rem + 0.2vw);
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--active-dark);
  font-size: 2em;
  background-color: var(--dialog-dark);
}

#date_book {
  margin-top: 0.5em;
  grid-area: 3/2/3/2;
  line-height: 1.2;
  color: var(--passive-dark);
  font-size: 1em;
}

#date_book.hide {
  display: none;
}

form > #info_book {
  grid-area: 1/1/1/1;
  display: grid;
  height: fit-content;

  grid-template-rows: repeat(3, max-content);
}

form > #info_book > input:first-of-type {
  grid-area: 1/1/1/1;
  font-size: calc(5em - 1vmax);
  width: 100%;
  overflow-y: auto;
  overflow-wrap: break-word;
  height: fit-content;
  font-weight: 700;
}

form > #info_book > input:nth-of-type(2) {
  grid-area: 2/1/2/1;
  font-size: calc(3em - 1vmax);
  width: 100%;
  height: fit-content;
  font-family: var(--font-secondary);
}

form > #info_book > input:last-of-type {
  text-transform: capitalize;
  font-size: calc(1.5em - 0.3vmax);

  height: fit-content;
  font-family: var(--font-secondary);
}

form > #status_book {
  margin-top: 1em;
  grid-area: 2/1/2/1;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: 3em 2em 2em;
}

form > #status_book > span {
  grid-area: 1/1/1/1;
  width: fit-content;
  height: fit-content;
  font-size: calc(3em - 0.2vmax);
  font-weight: 600;
}

form > #status_book > label {
  width: fit-content;
  font-size: calc(1.2em - 0.1vmax);
  cursor: pointer;
  align-self: center;
}

form > #status_book > input {
  width: 50px;
  transform: translateY(3px);
}

form > #status_book > label:first-of-type {
  grid-area: 2/1/2/1;
}

form > #status_book > input:first-of-type {
  grid-area: 2/2/2/2;
}

form > #status_book > label:last-of-type {
  grid-area: 3/1/3/1;
}

form > #status_book > input:last-of-type {
  grid-area: 3/2/3/2;
}

#progress {
  position: relative;
  grid-area: 1/3/3/3;
  width: calc(8em - 1vmax);
  height: calc(8em - 1vmax);
  border-radius: 100%;
  overflow: hidden;
  transform: rotate(180deg);
  background-color: var(--background-progress);
}

#progress.hide {
  display: none;
}

#progress > span {
  display: block;
  transform: perspective();
  background-color: var(--fill);
  height: 10%;
  width: 100%;
}

#progress::after {
  content: attr(data-progress);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
  font-size: calc(2em - 0.6vmax);
  color: var(--active-dark);
  font-weight: 600;
}

#hashtag::placeholder {
  text-transform: lowercase;
}

#hashtag {
  margin-top: calc(1em - 0.5vmax);
  grid-area: 3/1/3/1;
  font-size: 1.5em;

  text-transform: lowercase;
}

form > #action_book {
  grid-area: 4/1/4/1;
  display: grid;
  margin-top: calc(2em - 0.2vmax);
  align-self: end;
  column-gap: 2em;
  grid-template-columns: repeat(2, minmax(180px, 20%));
}

form > #action_book > button {
  padding: 1em;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 2em 1fr;
  border-radius: calc(0.5em - 0.2vmax);
  transition: var(--transition-200ms);
}

form > #action_book > button:hover,
form > #action_book > button.clicked {
  transform: scale(0.98);
}

form > #action_book > button > span {
  color: var(--active-dark);
  font-size: 1.5em;

  text-transform: capitalize;
}

form > #action_book > button > img {
  justify-self: end;
  height: 1.5em;
}

form > #action_book > button:first-of-type {
  background-color: var(--fill);
}

form > #action_book > button:last-of-type {
  background-color: var(--cancel);
}

@media (max-width: 1200px) and (max-height: 790px) {
  body > div > form {
    grid-template-rows: repeat(4, max-content);
    height: fit-content;
    max-height: 80vh;
  }

  #date_book {
    align-self: start;
  }

  form > #info_book > input:first-of-type {
    font-size: calc(4em - 0.5vmax);
  }

  form > #info_book > input:nth-of-type(2) {
    font-size: 2.5em;
  }

  form > #info_book > input:last-of-type {
    font-size: 1.3em;
  }

  form > #status_book {
    align-self: start;
  }

  #hashtag {
    grid-area: 3/1/3/1;
    align-self: end;
  }

  form > #action_book {
    column-gap: 0;
  }

  form > #action_book > button {
    width: 85%;
  }
  form > #action_book > button > span {
    font-size: 1.2em;
  }

  form > #action_book > button > img {
    height: 1.4em;
  }
}

@media (max-width: 790px) and (max-height: 1290px) {
  body > div > form {
    grid-template-columns: none;
    column-gap: 0;

    height: fit-content;
    max-height: 80vh;
    grid-template-rows: minmax(30%, calc(20em - 0.5vh)) max-content max-content max-content max-content max-content;
  }

  form > #cover_book {
    grid-area: 1/1/1/1;
  }
  form > #cover_book.stretch {
    height: 90%;
    grid-area: 1/1/2/1;
  }

  #date_book {
    margin-bottom: calc(1em - 0.1vh);
    grid-area: 2/1/2/1;
    align-self: center;
  }

  form > #info_book {
    grid-area: 3/1/3/1;
  }

  form > #info_book > input:first-of-type {
    font-size: calc(3.5em - 0.5vmax);
  }

  form > #info_book > input:nth-of-type(2) {
    font-size: calc(2em - 0.5vmax);
  }

  form > #status_book {
    grid-area: 4/1/4/1;
    grid-template-columns: repeat(2, max-content) 1fr;
  }

  #progress {
    justify-self: center;
  }

  #hashtag {
    grid-area: 5/1/5/1;
  }

  form > #action_book {
    width: fit-content;
    grid-area: 6/1/6/1;
    align-self: center;
    column-gap: 0;
  }

  form > #action_book > button {
    width: 85%;
  }

  form > #action_book > button > span {
    font-size: calc(1.3em - 0.2vmax);
  }
}

@media (max-width: 820px) and (max-height: 640px) {
  body > div > form {
    grid-template-rows: repeat(4, max-content);
  }

  form > #status_book {
    grid-template-columns: repeat(2, max-content) minmax(10em, 30%);
  }

  #progress {
    justify-self: center;
  }

  #hashtag {
    grid-area: 3/1/3/1;
  }
}

@media (max-width: 500px) and (max-height: 360px) {
  body > div > form {
    height: 90%;
    max-height: 85%;
    padding: 2em;
    width: 90%;
    column-gap: 1em;
    grid-template-columns: 60%;
    grid-template-rows: repeat(3, max-content) 1fr;
  }

  form > #cover_book {
    grid-area: 1/2/3/2;
  }

  form > #cover_book.stretch {
    height: 90%;
    grid-area: 1/2/4/2;
  }

  #date_book {
    font-size: 1em;
    grid-area: 3/2/4/2;
  }

  form > #info_book {
    grid-area: 1/1/1/1;
  }

  form > #info_book > input:first-of-type {
    font-size: calc(1em + 2.5vw);
  }
  form > #info_book > input:nth-of-type(2) {
    font-size: calc(1em + 1.4vw);
  }
  form > #info_book > input:last-of-type {
    font-size: calc(1em + 0.8vw);
  }

  form > #status_book {
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: repeat(2, max-content) 1fr;
    grid-area: 2/1/2/1;
    column-gap: 8px;
  }

  form > #status_book > span {
    font-size: calc(1em + 2vw);
    align-self: end;
  }

  form > #status_book > label {
    align-self: start;
  }
  form > #status_book > input {
    font-size: 1em;
    align-self: start;
    width: 40px;
  }

  #progress {
    grid-area: 1/3/4/3;
    height: 6.5em;
    align-self: center;
    width: 6.5em;
  }

  #progress:after {
    font-size: calc(1em + 1.2vw);
  }

  #hashtag {
    font-size: 1em;
    grid-area: 3/1/3/1;
    align-self: start;
  }

  form > #action_book {
    grid-area: 3/1/5/1;
    width: 100%;
    column-gap: 1em;
    display: flex;
    height: 100%;
    align-self: end;
  }

  form > #action_book > button {
    width: 80%;
    margin-top: 2em;
    display: block;
    height: fit-content;
    border-radius: 3px;
    align-self: center;
    padding: 0.6em 0.8em;
  }

  form > #action_book > button > span {
    font-size: calc(1em - 0.1vmax);
  }

  form > #action_book > button > img {
    display: none;
  }
}

@media (max-width: 360px) and (max-height: 500px) {
  body > div > form {
    padding: 2em;
    height: 90%;
    max-height: 90%;
    width: 90%;
    row-gap: 6px;
    grid-template-columns: none;
    grid-template-rows: 25% repeat(5, max-content);
  }

  form > #cover_book {
    grid-area: 1/1/1/1;
    border-radius: 5px;
  }

  form > #cover_book.stretch {
    height: 100%;
    grid-area: 1/1/2/1;
  }

  #date_book {
    margin-bottom: 0;
    grid-area: 2/1/2/1;
    font-size: 1em;
  }

  form > #info_book {
    grid-area: 3/1/3/1;
  }

  form > #info_book > input:first-of-type {
    font-size: calc(1em + 2.5vh);
  }
  form > #info_book > input:nth-of-type(2) {
    font-size: calc(1em + 1.5vh);
  }
  form > #info_book > input:last-of-type {
    font-size: calc(1em + 0.8vh);
  }

  form > #status_book {
    grid-area: 4/1/4/1;
    margin: 0;
    width: 100%;
    column-gap: 5px;
    grid-template-columns: repeat(2, max-content) 1fr;
  }

  form > #status_book > span {
    font-size: calc(1em + 2vh);
    align-self: end;
  }

  form > #status_book > input {
    font-size: 1em;
    width: 40px;
  }

  #progress {
    grid-area: 1/3/3/4;
    justify-self: end;
  }

  #hashtag {
    font-size: 1em;
    grid-area: 5/1/5/1;
  }

  form > #action_book {
    grid-area: 6/1/6/1;
    margin-top: calc(1em - 0.1vmax);
    width: 100%;
    height: 100%;
    grid-template-columns: none;
    column-gap: 0;
    align-content: end;
    align-items: center;
    margin: 0;
    row-gap: 0.5em;
    grid-template-rows: repeat(2, max-content);
  }

  form > #action_book > button {
    width: 100%;

    border-radius: 3px;
    display: block;
    height: calc(2.3em - 0.1vmax);
    padding: 0.5em;
  }

  form > #action_book > button > span {
    font-size: calc(1em - 0.1vmax);
  }

  form > #action_book > button > img {
    display: none;
  }
}
