@import './crud_book.css';
@import './set_pict.css';
@import './alert.css';

body > div {
  z-index: 2;
  position: absolute;
  background-color: var(--dialog-dark);
  backdrop-filter: blur(3px);
  right: auto;
  bottom: auto;
  opacity: 1;
  border-radius: 0;
  width: 100vw;
  display: flex;
  align-items: center;

  justify-content: center;
  height: 100vh;
}
