body > div {
  z-index: 2;
  position: absolute;
  background-color: var(--dialog-dark);
  backdrop-filter: blur(3px);
  right: auto;
  bottom: auto;
  opacity: 1;
  border-radius: 0;
  width: 100vw;
  display: flex;
  align-items: center;

  justify-content: center;
  height: 100vh;
}

body > div > form input,
body > div > form span {
  color: var(--passive-dark);
  text-transform: capitalize;
}

body > div > form input::placeholder,
body > div > form label {
  color: var(--enable-input);
  text-transform: capitalize;
}

body > div > form {
  padding: 3em;
  width: 80vw;
  height: 80vh;
  box-sizing: border-box;
  max-width: var(--breakpoint-xxl);
  min-width: 290px;
  display: grid;
  border-radius: calc(1em - 0.2vmax);
  background-color: var(--card-dark);
  column-gap: 1em;
  grid-template-columns: 1fr 30%;
  grid-template-rows: calc(6em + 4em + 1.6em) calc(4em + 1.5em * 2);
}

#cover_book {
  grid-area: 1/2/3/2;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/ic_cover_placeholder.svg);
  background-size: cover;
  align-self: start;
  border-radius: calc(1vw - 0.2em);
  box-sizing: border-box;
}

body > div > form > p {
  grid-area: 4/2/4/2;
  line-height: 1.2;
  color: var(--passive-dark);
  font-size: 1em;
}

#info_book {
  grid-area: 1/1/1/1;
  display: grid;
  height: fit-content;

  grid-template-rows: repeat(3, max-content);
}

#info_book > input:first-of-type {
  grid-area: 1/1/1/1;
  font-size: 5em;
  width: 100%;
  height: fit-content;
  font-weight: 700;
}

#info_book > input:nth-of-type(2) {
  grid-area: 2/1/2/1;
  font-size: 3em;
  width: 100%;
  text-indent: 0.05em;
  height: fit-content;
  font-family: var(--font-secondary);
}

#info_book > input:last-of-type {
  text-transform: capitalize;
  font-size: 1.5em;
  text-indent: 0.2em;
  height: fit-content;
  font-family: var(--font-secondary);
}

#status_book {
  grid-area: 2/1/2/1;
  display: grid;
  grid-template-columns: repeat(2, max-content);
}

#status_book > span {
  grid-area: 1/1/1/2;
  width: fit-content;
  font-size: 3em;
  font-weight: 600;
  text-indent: 0.2em;
}

#status_book > label {
  width: fit-content;
  font-size: 1.2em;
  cursor: pointer;
  align-self: center;
  text-indent: 0.55em;
}

#status_book > input {
  width: 50px;
  transform: translateY(3px);
}

#status_book > label:first-of-type {
  grid-area: 2/1/2/1;
}

#status_book > input:first-of-type {
  grid-area: 2/2/2/2;
}

#status_book > label:last-of-type {
  grid-area: 3/1/3/1;
}

#status_book > input:last-of-type {
  grid-area: 3/2/3/2;
}

form > div > input::placeholder {
  text-transform: lowercase;
}

form > input {
  grid-area: 3/1/3/1;
  font-size: 1.5em;
  text-indent: 0.5em;
  text-transform: lowercase;
}

#action_book {
  grid-area: 4/1/4/1;
  display: grid;
  align-content: center;
  column-gap: 2em;
  grid-template-columns: repeat(2, minmax(180px, 20%));
}

#action_book > button {
  padding: 1em;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 2em 1fr;
  border-radius: calc(0.5em - 0.2vmax);
}

#action_book > button:hover,
#action_book > button.clicked {
  transform: scale(0.99);
}

#action_book > button > span {
  color: var(--active-dark);
  font-size: 1.5em;

  text-transform: capitalize;
}

#action_book > button > img {
  justify-self: end;
  height: 1.5em;
}

#action_book > button:first-of-type {
  background-color: var(--fill);
}

#action_book > button:last-of-type {
  background-color: var(--cancel);
}

/* @media (max-width: 1200px) {
  body > div > form {
    grid-template-columns: minmax(30%, 400px) 1fr;
  }

  body > div > form > img {
    width: 90%;
  }

  #info_book > input:first-of-type {
    font-size: 4em;
  }

  #info_book > input:nth-of-type(2) {
    font-size: 2.5em;
    text-indent: 0.05em;
  }

  #info_book > input:last-of-type {
    text-indent: 0.3em;
  }

  #status_book {
    height: 14em;
  }

  #action_book {
    height: 10em;
    align-self: center;
  }

  #action_book > button {
    padding: 0.8em 1em;
  }
}

@media (max-width: 790px) {
  body > div > form {
    grid-template-columns: none;
    grid-template-rows: minmax(30%, 280px) 1fr;
    row-gap: 2em;
  }

  body > div > form > img {
    grid-area: 1/1/1/1;
    width: 100%;
    background-color: var(--passive-dark);
    height: 100%;
  }

  body > div > form > div {
    grid-area: 2/1/2/1;
    grid-template-rows: repeat(3, max-content);
  }

  #status_book {
    height: 10em;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    margin-bottom: 1em;
  }
}

@media (max-width: 576px) {
  body > div > form {
    row-gap: 0.5em;
  }

  body > div > form > div {
    grid-template-columns: repeat(2, fit-content);
    grid-template-rows: repeat(3, max-content);
  }

  #info_book {
    width: 60%;
  }

  #info_book > input:first-of-type {
    font-size: 3.4em;
    width: 90%;
  }

  #info_book > input:nth-of-type(2) {
    font-size: 2.4em;
    width: 90%;
  }

  #info_book > input:last-of-type {
    width: 90%;
  }

  #status_book {
    height: fit-content;
    grid-area: 1/2/1/2;
    width: fit-content;
  }

  form > div > input {
    grid-area: 2/1/2/2;
  }

  #action_book {
    grid-area: 3/1/3/2;
    grid-template-columns: repeat(2, max-content);
  }
}
@media (max-width: 360px) {
} */
