body > div {
  z-index: 2;
  position: absolute;
  background-color: var(--dialog-dark);
  backdrop-filter: blur(3px);
  right: auto;
  bottom: auto;
  opacity: 1;
  border-radius: 0;
  width: 100vw;
  display: flex;
  align-items: center;

  justify-content: center;
  height: 100vh;
}

body > div > form input,
body > div > form span {
  color: var(--passive-dark);
  text-transform: capitalize;
}

body > div > form input::placeholder,
body > div > form label {
  color: var(--enable-input);
}

body > div > form {
  padding: 3em;
  width: 80vw;
  height: 80vh;
  box-sizing: border-box;
  max-width: var(--breakpoint-xxl);
  min-width: 290px;
  display: grid;
  border-radius: calc(1em - 0.2vmax);
  background-color: var(--card-dark);
  column-gap: 1em;
  align-items: center;
  row-gap: 1em;
  grid-template-columns: 1fr minmax(35%, 300px);
  grid-template-rows: max-content 10em max-content 1fr;
}

#cover_book {
  grid-area: 1/2/3/2;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/ic_cover_placeholder.svg');
  background-size: cover;
  background-position: center;
  align-self: start;
  border-radius: calc(1vw - 0.2em);
  box-sizing: border-box;
  position: relative;
  display: grid;
  cursor: pointer;
}

#cover_book:hover::after {
  content: 'set cover';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--active-dark);
  font-size: 2em;
  background-color: var(--dialog-dark);
}

#date_book {
  grid-area: 3/2/3/2;
  line-height: 1.2;
  color: var(--passive-dark);
  font-size: 1em;
}

#info_book {
  grid-area: 1/1/1/1;
  display: grid;
  height: fit-content;

  grid-template-rows: repeat(3, max-content);
}

#info_book > input:first-of-type {
  grid-area: 1/1/1/1;
  font-size: 5em;
  width: 100%;
  height: fit-content;
  font-weight: 700;
}

#info_book > input:nth-of-type(2) {
  grid-area: 2/1/2/1;
  font-size: 3em;
  width: 100%;
  height: fit-content;
  font-family: var(--font-secondary);
}

#info_book > input:last-of-type {
  text-transform: capitalize;
  font-size: 1.5em;

  height: fit-content;
  font-family: var(--font-secondary);
}

#status_book {
  grid-area: 2/1/2/1;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: 4em 2em 2em;
}

#status_book > span {
  grid-area: 1/1/1/2;
  width: fit-content;
  font-size: 3em;
  font-weight: 600;
}

#status_book > label {
  width: fit-content;
  font-size: 1.2em;
  cursor: pointer;
  align-self: center;
}

#status_book > input {
  width: 50px;
  transform: translateY(3px);
}

#status_book > label:first-of-type {
  grid-area: 2/1/2/1;
}

#status_book > input:first-of-type {
  grid-area: 2/2/2/2;
}

#status_book > label:last-of-type {
  grid-area: 3/1/3/1;
}

#status_book > input:last-of-type {
  grid-area: 3/2/3/2;
}

#progress {
  position: relative;
  grid-area: 1/3/3/3;
  width: 8em;
  height: 8em;
  border-radius: 100%;
  overflow: hidden;
  transform: rotate(180deg);
  background-color: var(--background-progress);
}

#progress > span {
  display: block;
  transform: perspective();
  background-color: var(--fill);
  height: 10%;
  width: 100%;
}

#progress::after {
  content: attr(data-progress);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
  font-size: 2em;
  color: var(--active-dark);
  font-weight: 600;
}

#hashtag::placeholder {
  text-transform: lowercase;
}

#hashtag {
  grid-area: 3/1/3/1;
  font-size: 1.5em;

  text-transform: lowercase;
}

#action_book {
  grid-area: 4/1/4/1;
  display: grid;
  align-self: end;
  column-gap: 2em;
  grid-template-columns: repeat(2, minmax(180px, 20%));
}

#action_book > button {
  padding: 1em;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 2em 1fr;
  border-radius: calc(0.5em - 0.2vmax);
  transition: var(--transition-200ms);
}

#action_book > button:hover,
#action_book > button.clicked {
  transform: scale(0.98);
}

#action_book > button > span {
  color: var(--active-dark);
  font-size: 1.5em;

  text-transform: capitalize;
}

#action_book > button > img {
  justify-self: end;
  height: 1.5em;
}

#action_book > button:first-of-type {
  background-color: var(--fill);
}

#action_book > button:last-of-type {
  background-color: var(--cancel);
}

@media (max-width: 1200px) and (max-height: 790px) {
  body > div > form {
    grid-template-rows: max-content 15em max-content 1fr;
  }

  #date_book {
    align-self: start;
  }

  #info_book > input:first-of-type {
    font-size: 4em;
  }

  #info_book > input:nth-of-type(2) {
    font-size: 2.5em;
  }

  #info_book > input:last-of-type {
    font-size: 1.3em;
  }

  #status_book {
    align-self: start;
  }

  #hashtag {
    grid-area: 2/1/3/1;
    align-self: end;
  }

  #action_book {
    column-gap: 0;
  }

  #action_book > button {
    width: 85%;
  }
  #action_book > button > span {
    font-size: 1.2em;
  }

  #action_book > button > img {
    height: 1.4em;
  }
}

@media (max-width: 790px) and (max-height: 1200px) {
  body > div > form {
    grid-template-columns: none;
    column-gap: 0;
    grid-template-rows: minmax(30%, 100px) max-content max-content 10em max-content 1fr;
  }

  #cover_book {
    grid-area: 1/1/1/1;
  }
  #date_book {
    grid-area: 2/1/2/1;
  }

  #info_book {
    grid-area: 3/1/3/1;
  }

  #info_book > input:first-of-type {
    font-size: 3.5em;
  }

  #info_book > input:nth-of-type(2) {
    font-size: 2em;
  }

  #status_book {
    grid-area: 4/1/4/1;
    grid-template-columns: repeat(2, max-content) minmax(10em, 20%);
  }

  #progress {
    justify-self: center;
  }

  #hashtag {
    grid-area: 5/1/5/1;
  }

  #action_book {
    width: fit-content;
    grid-area: 6/1/6/1;
    align-self: center;
    column-gap: 0;
  }

  #action_book > button {
    width: 85%;
  }

  #action_book > button > span {
    font-size: 1.3em;
  }
}
