@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@400;600;700&display=swap');

@import './reset.css';
@import '../component/header/style.css';

:root {
  /* color for dark theme */
  --background-dark: #212832;
  --card-dark: #2c343f;
  --dialog-dark: #212832a4;
  --passive-dark: #cdd1d6;
  --active-dark: #f5f5f5;
  --transition-200ms: all ease-in-out 200ms;

  /* color general theme */
  --background-progress: #1c4f53;
  --fill: #278d82;
  --status: #2baea0;
  --cancel: #f55a6a;
  --enable-input: #b6b6b6;

  /* html behavior */
  scroll-behavior: smooth;
  user-select: none;

  /* document breakpoint */
  --breakpoint-xs: 360px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;

  /* font */
  --font-primary: 'Source Sans Pro', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
}

body {
  width: 100vw;
  background-color: var(--background-dark);
  display: flex;
  flex-direction: column;

  align-items: center;
  font-family: var(--font-primary);
}

header,
main,
footer,
body > div > form {
  width: 80%;
  max-width: var(--breakpoint-xxl);
  min-width: 290px;
}

main > img {
  position: fixed;
  right: 2em;
  bottom: 2em;
  width: calc(40px + 2.5%);
  cursor: pointer;
  z-index: 1;
  transition: var(--transition-200ms);
}

main > img:hover {
  transform: scale(1.05);
}

/* dialog */

body > div {
  z-index: 2;
  position: absolute;
  background-color: var(--dialog-dark);
  backdrop-filter: blur(3px);
  right: auto;
  bottom: auto;
  opacity: 1;
  border-radius: 0;
  width: 100vw;
  display: flex;
  align-items: center;

  justify-content: center;
  height: 100vh;
}

body > div > form {
  height: 80%;
  padding: 3em;
  display: grid;
  max-height: 1200px;
  border-radius: calc(1em - 0.2vmax);
  background-color: var(--card-dark);
  overflow: hidden;

  grid-template-columns: minmax(30%, 500px);
}

body > div > form input,
body > div > form span {
  color: var(--passive-dark);
  text-transform: capitalize;
}

body > div > form input::placeholder,
body > div > form label {
  color: var(--enable-input);
}

body > div > form > img {
  grid-area: 1/1/1/1;
  width: 80%;
  cursor: pointer;
  border-radius: calc(1em - 0.5vmax);
}

body > div > form > div {
  grid-area: 1/2/1/2;
  display: grid;
  grid-template-rows: repeat(3, max-content);
}

#info_book {
  grid-area: 1/1/1/1;
  display: grid;
  height: fit-content;
  grid-template-rows: repeat(3, max-content);
}

#info_book > input:first-of-type {
  grid-area: 1/1/1/1;
  font-size: 5em;
  width: 100%;
  height: fit-content;
  font-weight: 700;
  grid-template-rows: repeat(2, fit-content);
}

#info_book > input:nth-of-type(2) {
  grid-area: 2/1/2/1;
  font-size: 3em;
  width: 100%;
  text-indent: 0.05em;
  height: fit-content;
  font-family: var(--font-secondary);
}

#info_book > input:last-of-type {
  text-transform: capitalize;
  font-size: 1.5em;
  text-indent: 0.2em;
  height: fit-content;
  font-family: var(--font-secondary);
}

#status_book {
  height: 12em;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(2, max-content);
}

#status_book > span {
  grid-area: 1/1/1/2;
  width: fit-content;
  font-size: 3em;
  font-weight: 600;
  text-indent: 0.2em;
}

#status_book > label {
  width: fit-content;
  font-size: 1.2em;
  cursor: pointer;
  align-self: center;
  text-indent: 0.7em;
}

#status_book > input {
  width: 50px;
  transform: translateY(3px);
}

#status_book > label:first-of-type {
  grid-area: 2/1/2/1;
}

#status_book > input:first-of-type {
  grid-area: 2/2/2/2;
}

#status_book > label:last-of-type {
  grid-area: 3/1/3/1;
}

#status_book > input:last-of-type {
  grid-area: 3/2/3/2;
}

form > div > input::placeholder {
  text-transform: lowercase;
}

form > div > input {
  font-size: 1.5em;
  text-indent: 0.5em;
  text-transform: lowercase;
}

@media (max-width: 1200px) {
  :root {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 13px;
  }
}
@media (max-width: 576px) {
  :root {
    font-size: 12px;
  }
}
@media (max-width: 360px) {
  :root {
    font-size: 11px;
  }
}
