@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@400;600;700&display=swap');

@import './reset.css';
@import '../component/loading/style.css';
@import '../component/header/style.css';
@import '../component/dialog/main.css';
@import '../component/main/style.css';
@import '../component/footer/style.css';

:root {
  /* color for dark theme */
  --background-dark: #212832;
  --card-dark: #2c343f;
  --dialog-dark: #212832a4;
  --passive-dark: #cdd1d6;
  --active-dark: #f5f5f5;
  --transition-200ms: all ease-in-out 200ms;

  /* color general theme */
  --background-progress: #1c4f53;
  --fill: #278d82;
  --status: #2baea0;
  --cancel: #f55a6a;
  --enable-input: #b6b6b6;

  /* html behavior */
  scroll-behavior: smooth;
  user-select: none;

  /* document breakpoint */
  --breakpoint-xs: 360px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;

  /* font */
  --font-primary: 'Source Sans Pro', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
}

body {
  width: 100%;
  background-color: var(--background-dark);
  display: grid;
  row-gap: calc(20px + 1vmax);
  justify-items: center;
  font-family: var(--font-primary);
}

/* width */
body::-webkit-scrollbar {
  width: 2px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: var(--active-dark);
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: var(--card-dark);
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: var(--dialog-dark);
}

header {
  grid-area: 1/1/1/1;
}

main {
  grid-area: 2/1/2/1;
}

footer {
  grid-area: 3/1/3/1;
}

header,
main,
footer {
  width: 80%;
  max-width: var(--breakpoint-xxl);
  min-width: 290px;
}

@media (max-width: 1200px) {
  :root {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  header,
  main,
  footer {
    width: 90%;
  }
  :root {
    font-size: 13px;
  }
}
@media (max-width: 576px) {
  :root {
    font-size: 12px;
  }
}
@media (max-width: 360px) {
  :root {
    font-size: 11px;
  }
}
