main {
  display: grid;
  row-gap: 0.9em;
}

main > #add_book {
  position: fixed;
  right: 2em;
  bottom: 2em;
  width: calc(40px + 2.5%);
  cursor: pointer;
  z-index: 1;
  transition: var(--transition-200ms);
}

main > #add_book:hover {
  transform: scale(1.05);
}

main > section {
  background-color: var(--card-dark);
  border-radius: calc(1px + 0.8vw);
  height: fit-content;
  display: grid;
  align-items: center;
  padding: calc(10px + 1vmax);
  grid-template-rows: repeat(2, max-content);
  grid-template-columns: max-content 1fr max-content;
  cursor: pointer;
}

main > section:hover {
  box-shadow: 1px 1px 10px #56606e;
}

main > section > #cover_book {
  grid-area: 1/1/-1/1;
  align-self: start;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 12vmax;
  max-height: 180px;
  max-width: 180px;
  border-radius: calc(1px + 0.8vw);
  box-shadow: 1px 1px 10px var(--background-dark);
}

main > section > #info_book {
  grid-area: 1/2/1/2;
  align-self: start;
  display: grid;
}

main > section > #info_book > h2 {
  font-size: calc(1em + 2.5vw);
  color: var(--active-dark);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;

  text-transform: capitalize;
}

main > section > #info_book > h3 {
  font-size: calc(1em + 1.2vw);
  text-transform: capitalize;
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: calc(5px + 0.05vw);
  font-weight: 400;
  align-items: center;
  font-family: var(--font-secondary);
  color: var(--passive-dark);
  grid-template-columns: 1fr max-content;
}

main > section > #info_book > h3 > span:first-of-type {
  white-space: nowrap;
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

main > section > #info_book > h3 > span:last-of-type {
  font-size: 0.5em;
}

main > section > #info_book > span {
  align-self: start;
  display: block;
  font-size: calc(1em + 0.2vw);
  color: var(--fill);
}

main > section > span {
  grid-area: 2/2/2/2;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  font-size: calc(1em + 0.4vw);
  color: var(--enable-input);
}

main > section > #progress_book {
  grid-area: 1/3/3/3;
  align-self: center;
  position: relative;

  max-height: 120px;
  max-width: 120px;
  border-radius: 100%;
  overflow: hidden;
  justify-self: center;
  transform: rotate(180deg);
  background-color: var(--background-progress);
}

main > section > #progress_book > span {
  display: block;
  background-color: var(--fill);
  width: 100%;
}

main > section > #progress_book::after {
  content: attr(data-progress);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
  font-size: calc(1em + 0.5vw);
  color: var(--active-dark);
  font-weight: 600;
}

main > div {
  height: 2em;
  display: flex;
  column-gap: 0.2em;
  justify-content: center;
}

main > div > span {
  line-height: 0;
  background-color: var(--card-dark);
  color: var(--passive-dark);
  font-weight: 600;
  border-radius: calc(1px + 0.1vmax);
  font-size: calc(1.5em + 0.3vw);
  padding: 1.5vmax;
  text-align: center;
  cursor: pointer;
}

main > div > span:nth-of-type(3) {
  background-color: var(--fill);
  cursor: unset;
}

main > div > span.disable {
  opacity: 0.6;
  cursor: unset;
}

@media screen and (min-width: 1440px) {
  main > section,
  main > section > #cover_book {
    border-radius: calc(1px + 0.4vw);
  }
  main > div > span {
    padding: 1vmax;
  }
}

@media screen and (orientation: landscape) {
  main > section {
    grid-template-columns: max-content 0.9fr;
    column-gap: 2vw;
    row-gap: 2vh;
  }

  main > section > #progress_book {
    width: 10vmax;
    height: 10vmax;
    min-width: 90px;
    min-height: 90px;
  }
}

@media screen and (orientation: portrait) {
  main > section {
    grid-template-columns: max-content 0.9fr;
    column-gap: 2vw;
    row-gap: 1vh;
  }

  main > section > #progress_book {
    width: 9vmax;
    height: 9vmax;
    min-width: 80px;
    min-height: 80px;
  }
}

@media screen and (max-width: 520px) {
  main > section {
    column-gap: 2vw;
    grid-template-columns: max-content 1fr;
  }

  main > section > #cover_book {
    width: 15vmax;
  }

  main > section > #info_book > h3 {
    font-size: calc(1em + 1vw);
  }

  main > section > #info_book > span {
    font-size: calc(1em + 0.1vw);
  }
  main > section > #progress_book {
    display: none;
  }

  main > section > #info_book > h3 > span:last-of-type {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 360px) and (orientation: portrait) {
  main > div > span {
    line-height: 0.24;
  }
}

@media screen and (max-width: 520px) and (orientation: landscape) {
  main > section {
    column-gap: 1.5vw;
    grid-template-columns: max-content 1fr;
  }

  main > div > span {
    line-height: 0.24;
  }
}
